%p
  - if movie.release_date.present?
    %span.label.label-info= movie.release_date

  - if movie.budget.present?
    %span.label.label-info= movie.budget

  - if movie.runtime.present?
    %span.label.label-info #{movie.runtime} min

  - if movie.vote_average.present?
    %span.label.label-info
      %i.fa.fa-star
      = movie.vote_average

- if movie.genres.present?
  %p.text-muted= movie.genres.map(&:name).join(' | ')

- if movie.overview.present?
  %p.text-justify= movie.overview

- if movie.belongs_to_collection
  %p.text-muted= movie.belongs_to_collection.name

.row
  .col-md-6
    %h2 Cast

    .table-responsive
      %table.table.table-striped.table-condensed
        %tbody
          - movie.cast.each do |member|
            %tr
              %td= member.character
              %td= link_to member.name, person_path(member.id)

  .col-md-6
    %h2 Crew

    .table-responsive
      %table.table.table-striped.table-condensed
        %tbody
          - movie.crew.each do |member|
            %tr
              %td= member.job
              %td= link_to member.name, person_path(member.id)
