%p
  - if movie.release_date.present?
    %span.label.label-info= movie.release_date

  - if movie.budget.present?
    %span.label.label-info= movie.budget

  - if movie.runtime.present?
    %span.label.label-info #{movie.runtime} min

  - if movie.vote_average.present?
    %span.label.label-info
      %i.fa.fa-star
      = movie.vote_average

- if movie.genres.present?
  %p.text-muted= movie.genres.map(&:name).join(' | ')

- if movie.overview.present?
  %p.text-justify= movie.overview

- if movie.belongs_to_collection
  %p.text-muted= movie.belongs_to_collection.name

.row
  .col-md-6
    %dl.dl-horizontal
      - movie.cast.each do |member|
        %dt= member.character
        %dd= link_to member.name, person_path(member.id)

  .col-md-6
    - movie.crew.each do |department, members|
      %dl.dl-horizontal
        %dt.text-uppercase= department
        %dd

        - members.each do |job, members|
          - first_member, *rest_members = members

          %dt= job
          %dd= link_to first_member.name, person_path(first_member.id)
          - rest_members.each do |member|
            %dt
            %dd= link_to member.name, person_path(member.id)
