%p
  %span.label.label-info= movie.release_date
  %span.label.label-info= movie.budget
  %span.label.label-info= movie.runtime
  %span.label.label-info= movie.vote_average

%p.text-muted= movie.genres_names
%p.text-justify= movie.overview
%p.text-muted= movie.collection_name
