.row
  .col-xs-12
    %h1.page-header= @movie.title

.row
  .col-sm-3
    = image_tag @movie.poster_url, class: 'img-responsive center-block'

    - if @movie.tagline.present?
      %p.text-center
        %small.text-muted= @movie.tagline

  .col-sm-9
    = render 'info', movie: @movie

- if @movie.youtube_trailers.present?
  .row
    .col-xs-12
      %h2 Videos

    - @movie.youtube_trailers.each do |trailer|
      .col-xs-12.col-sm-6
        = render partial: 'trailer', object: trailer
