.row
  .col-xs-12
    %h1.page-header
      = @movie.title

.row
  .col-sm-3.hidden-xs
    = image_tag poster_url(@movie), class: 'img-responsive center-block'

    - if @movie.tagline.present?
      %p.text-center
        %small.text-muted= @movie.tagline

  .col-sm-9
    = render 'info', movie: @movie

.row
  - if @movie.trailers.youtube.present?
    = render partial: 'trailers', object: @movie.trailers.youtube[0...2]
