.row
  .col-xs-12
    %h1.page-header
      = @movie.title

.row
  .col-sm-3.hidden-xs
    = image_tag poster_url(@movie), class: 'img-responsive center-block'

    - if @movie.tagline.present?
      %p.text-center
        %small.text-muted= @movie.tagline

  .col-sm-9
    %p= render 'info_budges'

    - if @movie.belongs_to_collection
      %p.text-muted= @movie.belongs_to_collection.name

    %p.text-justify= @movie.overview

    - if @movie.homepage.present?
      %p
        = link_to @movie.homepage, target: '_blank' do
          Official Homepage
          %i.fa.fa-external-link

.row
  - if @movie.trailers.youtube.present?
    = render partial: 'trailers', object: @movie.trailers.youtube[0...2]
